<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>


<head>
    <style></style>
    <title>Account Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h2>Account Info Heading</h2>
    <p>

        sample text goes here. Sample fields below for signup.
        sample update function below.

        <br>
        <br>
        <br>
        <input type="text"> First Name
        <br>
        <input type="text"> Last Name
        <br>
        <input type="text"> Email
        <br>
        <input type="text"> Phone
        <br>
        <input type="text"> Username
        <br>
        <input type="text"> Password
        <br>
    <div style="position:relative; left:130px; top: -10px;">
        <button type="button">update</button>
        <!-- <input type="text" [(ngModel)]="newTodo">
    <button (click)="addTodo()">Add Todo to List</button> for later to connect to models-->
    </div>

    <div></div>
    <br>
    <br>
    <br>
    <h2>View Account option?? 2</h2>
    <p>
        Sample text here. sample view all below
        <br>
        <br>
        <br>
        <a class="button" routerLinkActive="active" routerLink="/login">
            Account details??
        </a>
        <!-- <input type="text" [(ngModel)]="newTodo">
    <button (click)="addTodo()">Add Todo to List</button> for later to connect to models-->
    </p>

</body>