<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>


<head>
    <style></style>
    <title>Account Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h2>Account Info</h2>
    <br>
    <table>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="fname" [(ngModel)]="currentFName"></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="lname" [(ngModel)]="currentLName"></td>
        </tr>
        <tr>
            <td>E-Mail</td>
            <td><input type="text" name="email" [(ngModel)]="currentEmail"></td>
        </tr>
        <tr>
            <td>Calorie Goal</td>
            <td><input type="number" name="calories" [(ngModel)]="currentCalGoal" placeholder="Add a daily calorie goal!"></td>
        </tr>
    </table>
    <br>
    <div style="position:relative; left:130px; top: -10px;">
        <button type="button" (click)="this.updateUserData()">Update info</button>
        <!-- <input type="text" [(ngModel)]="newTodo">
    <button (click)="addTodo()">Add Todo to List</button> for later to connect to models-->
    </div>



</body>