<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>

<head>
    <title>About Title</title>
</head>

<body>
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <div class="row content">
          <div class="col-sm-9">
            <h2> Welcome back, {{this.fname}} {{this.lname}}!</h2>
            <h3>{{this.email}}</h3>
            <hr>
            <br><br>
            <h4><small>Here is your most recent workout</small></h4>
            <hr>
            <table style="width:100%">
              <tr>
                <th>Date (MM/DD/YYYY)</th>
                <th>Activity Completed</th>
                <th>Duration of exercise</th>
                <th>Calories burned</th>
              </tr>
              <tr>
                <td>{{this.lastWorkoutCalories}}</td>
                <td>{{this.lastWorkoutName}}</td>
                <td>{{this.lastWorkoutDuration}} minutes long</td>
                <td>{{this.lastWorkoutCalories}}</td>
              </tr>
            </table>
            <br><br>
            <br><br>
          
            <h4><small>Here is your progress on your daily calorie goal!</small></h4>
            <hr>
            <h5>Calories goal: {{this.caloricGoal}}</h5>
            <h5>Calories burned today: {{this.lastWorkoutCalories}}</h5>
            <h5>Calories left to go: {{this.caloricGoal}} - {{this.lastWorkoutCalories}} </h5>
            <br><br>
          </div>
        </div>
      </div>
</body>
