.layout{
  /* border: double; */
  background-size: auto;
  background-color: rgb(228, 0, 0);
}

.button{
  background-color: rgb(147, 168, 205);
  color: rgb(21, 66, 84);
  padding: 6px 12px;
  text-decoration: none;
  
}

/* .grid-container{
  margin-top: 5em;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;
} */
