<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>

<head>
    <title>About Title</title>
</head>

<body>
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <h4>About User</h4>
            <ul>
                <li>Most Recent Workout completed: </li>
                <li>Calories Burned For the day/ Calorie goal</li>
                <li>You have hit your goal for ___ days in a row!</li>
            </ul>
            <img href="placeholder">
          </div>
      
        <div class="col-sm-9">
            <h4><small>Here is your most recent workout</small></h4>
            <hr>
            <h5>Activity Completed: </h5>
            <h5>Duration of exercise: </h5>
            <h5>Calories burned during exercise session: </h5>
            <br><br>
            
            <h4><small>Here is your progress on your daily calorie goal!</small></h4>
            <hr>
            <h5>Calories goal: </h5>
            <h5>Calories burned today: </h5>
            <h5>Calories left to go: </h5>
            <br><br>


            <h4><small>Here is your streak counter!</small></h4>
            <hr>
            <h5>Calories goal: </h5>
            <h5>Calories burned today: </h5>
            <h5>Calories left to go: </h5>
            <br><br>
          </div>
        </div>
      </div>
</body>
