.registration-statement{
  margin:100px;
  padding:0;
  border:0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Neue Plak UA", Helvetica,Arial,-apple-system,sans-serif;
}

body{
  font-family:"Neue Plak UA",Helvetica,Arial,-apple-system,sans-serif;
}

.layout{
    /* border: double; */
    background-size: auto;
    background-color: gray;
  }

  .signup-box{
    width: 550px;
    height: 50%;
    box-shadow: 2px 1px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }

   .signup-button{
      background-color: black;
      color:white;
      font-size: 20px;
      padding: 10px 120px;
      font-family: 'Inter';
   }

   .signup-button:hover{
    background-color: lightslategrey;
   }

  .button{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
    
  }

  html, header{
    margin: 0;
  }
  html, body{
    margin: 0;
  }


  .input-box{
    height:30px;
    width: 300px;
    text-align: center;
    
    
  }

  #register-bottom{
    position: relative;
    background-color: black;
    border: 10px;
    padding: 10px;
    margin: 0px;
  }

  /* .grid-container{
    margin-top: 5em;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  } */