<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>


<head>
    <style></style>
    <title>Exercise Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h1>Exercise Heading</h1>
    <br>
    <br>

    
    <form>
        <h3>Add new Exercises</h3>
        <div>
            <label class="label col-sm-3">Exercise:</label>
            <input type="text" name="ExerciseName" [(ngModel)]="activity" class="form-control" placeholder="type " required>
            <label class="label col-sm-3">Duration in Minutes:</label>
            <input type="text" name="ExerciseDuration" [(ngModel)]="durationInMinutes" class="form-control" placeholder="duration " required>
            <button (click)="getActivityList()" class="btn btn-secondary">Submit</button>
        </div>
    </form>

    <br>
    



    <form>
        <legend>Select the Exercise:</legend>
        <div *ngFor="let a of activityList">
            <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="OnlyOne" id={{a.name}}>
                <label type="text" class="custom-control-label">{{a.name}}</label>
            </div>
            <button (click)="sendExercise(a)">Submit</button>
        </div>        
    </form>
    
    

    <br>
    <br>

    <button class="button" (click)="booleanFunction()">Check Workout History</button>
        
    
    <br>
    <br>

    
        <table *ngIf="isBool">
            <thead>
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Calories Burned by the Hour</th>
                    <th scope="col">Duration in Minutes</th>
                    <th scope="col">Total Calories Burned</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of exercisesComplete">
                    <td>{{e.date}}</td>
                    <td>{{e.name}}</td>
                    <td>{{e.durMin}}</td>
                    <td>{{e.totCal}}</td>
                </tr>
            </tbody>
        </table>
    
     
    
    <br>

    <p>
        <br>
    <br>
    <br>
        <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
    <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->

    <div></div>
    <p>
        
    </p>

</body>
