<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>


<head>
    <style></style>
    <title>Exercise Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h1>Exercise Heading</h1>
    <br>
    <br>

    
    <form>
        <h3>Add new Exercises</h3>
        <div>
            <label class="label col-sm-3">Exercise:</label>
            <input type="text" name="ExerciseName" [(ngModel)]="activity" class="form-control" placeholder="type " required>
            <button (click)="getActivityList()" class="btn btn-secondary">Submit</button>
        </div>
    </form>

    <br>
    
    <table>
        <thead>
            <tr>
                <th scope="col">Activities</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of activityList">
                <td>{{a.name}}</td>
            </tr>
        </tbody>
    </table>

    <br>
    <br>

    <table>
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col">Calories Burned by the Hour</th>
                <th scope="col">Duration in Minutes</th>
                <th scope="col">Total Calories Burned</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of exercises">
                <td>{{e.name}}</td>
                <td>{{e.caloriesPerHour}}</td>
                <td>{{e.durationInMinutes}}</td>
                <td>{{e.totalCaloriesBurned}}</td>
                -->
            </tr>
        </tbody>
    </table>
    
    <br>

    <p>
        <br>
    <br>
    <br>
        <a class="button" routerLinkActive="active" routerLink="/homepage">
            Track Workout??
        </a>
        <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
    <div style="position:relative; left:145px; top:-40px;">
        <img src="pic_trulli.jpg" alt="Italian Trulli">
    </div>

    <div></div>
    <br>
    <br>
    <h1>Exercise Heading 2</h1>
    <p>
            This is where the wording and stuff goes.
    
        <br>
    <br>
    <br>
    <a class="button" routerLinkActive="active" routerLink="/homepage">
        Sample
    </a>
    <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
<div style="position:relative; left:120px; top:-40px;">
    <img src="pic_trulli.jpg" alt="Italian Trulli">
</div>

    <div></div>
    <p>
        
    </p>

</body>
