.button{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
    
  }
  .button2{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
  }

  .button3{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
  }