<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>

<head>
    <style></style>
    <title>HomePage Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <h1>Welcome!</h1>
    <hr>
    <h2>About</h2>
    <h3>Navigate to the About tab to see recent activity!</h3>
    <hr>
    <h2>Adding Workouts</h2>
    <h3>To search for workouts and add them navigate to the exercise tab!</h3>
    <hr>
    <h2>Updating User Information</h2>
    <h3>To update your account information please navigate to the Account tab!</h3>
    <br>
    <br>
</body>