<app-navbar-homemenu></app-navbar-homemenu>
<app-navbar-homeaccount></app-navbar-homeaccount>

<head>
    <style></style>
    <title>HomePage Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h1>HomePage Heading</h1>
    <p>

        Sample text goes here. Below is sample button and img (will need to be configured/routed)

        <br>
        <br>
        <br>
        <a class="button" routerLinkActive="active" routerLink="/homepage">
            sample track/caloriesbyworkouts
        </a>
        <!-- <div style = "position:relative; left:150px; top:2px; //background-color:yellow;"></div> -->
    <div style="position:relative; left:250px; top:-40px;">
        <img src="pic_trulli.jpg" alt="Italian Trulli">
    </div>


    <div></div>
    <br>
    <br>
    <br>
    <h1>HomePage Heading 2</h1>
    <p>

        Sample text goes here. Below is sample button and img (will need to be configured/routed)

        <br>
        <br>
        <br>
        <a class="button" routerLinkActive="active" routerLink="/homepage">
            sample
        </a>
        <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
    <div style="position:relative; left:120px; top:-40px;">
        <img src="pic_trulli.jpg" alt="Italian Trulli">
    </div>


    <div></div>
    <br>
    <br>
    <br>
    <h2>Homepage Heading 3</h2>
    <p>
    </p>

</body>