
<app-navbar-login></app-navbar-login>

<head>
    <style></style>
    <title>Landing Title</title>
</head>
<div class="layout"></div>

<app-navbar-menu></app-navbar-menu>
<!-- PAGE IS STILL IN PROGRESS (Nigel) -->
<body>
    <br>
    <br>
    <br>
    <div class="first_division" >
        <div class="first-image">
            <img src="https://www.siroko.com/blog/c/app/uploads/2021/07/efectos-positivos_f766ef96-0811-452d-bbf8-ec38d244637a-1440x900.jpg">
            <!-- Trying to figure out how to get image on the SAME line as the text. May not be possible idk (Nigel)-->
        </div>
        <h1 class="first_header">Get that perfect physique with a comprehensive plan.</h1>
        <pre></pre>
            <h3>Feeling overwhelmed? Track caloric intake, consumption, and finally reach your goals with Hyerion!</h3>
        
    </div>

    <br>
    <br>
        <a class="login-button2" routerLinkActive="active" routerLink="/login">
            Start For Free!
        </a>
        <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
    <div style="position:relative; left:120px; top:-40px;">
        <img src="pic_trulli.jpg" alt="Italian Trulli">
    </div>


    <div></div>
    <br>
    <br>
    <br>
    <h1>Landing Heading 2</h1>
    <p>
        sample text here.  could use button and img from above (would need to be configured)
    </p>

    <div></div>
    <br>
    <br>
    <br>
    <h2>Landing Heading 3</h2>
    <p>
        
    </p>

</body>