<app-navbar-login></app-navbar-login>

<head>
    <style></style>
    <title>Landing Title</title>
</head>
<div class="layout"></div>

<app-navbar-menu></app-navbar-menu>
<!-- PAGE IS STILL IN PROGRESS (Nigel) -->

<body>
    <div id="liftDiv"><img src="https://i.pinimg.com/originals/16/d7/be/16d7be2e399d6a9e12050f9a123983d6.gif"></div>
    <div class="first_division">
        <div class="first-image">
        </div>
        <h1 class="first_header">Get that perfect physique with a comprehensive plan.</h1>
        <pre></pre>
        <h3>Feeling overwhelmed? Track caloric intake, consumption, and finally reach your goals with Hyerion!</h3>
    </div>

    <br>
    <br>
    <a class="login-button2" routerLinkActive="active" routerLink="/login">
        Start For Free!
    </a>
    <!-- <div style = "position:relative; left:80px; top:2px; //background-color:yellow;"></div> -->
    <div style="position:relative; left:120px; top:-40px;">
    </div>


    <div></div>
    <h1 class="header2">Simply track over a hundred different exercises!</h1>
    <h3 class="underheader2">
        Understand your workout plan like never before with a break down of calories lost per exercise.
    </h3>

    <div></div>
    <br>
    <br>
    <p>

    </p>

</body>