<app-navbar-menu></app-navbar-menu>
<app-navbar-login></app-navbar-login>

<head>
    <style></style>
    <title>Login Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h2>Login Heading</h2>
    <p>
        
    <input type="text"> Username
    <br>
    <input type="text" > Password
    <br>
    <button type="button">Enter</button>
    <!-- <input type="text" [(ngModel)]="newTodo">
    <button (click)="addTodo()">Add Todo to List</button> for later to connect to models-->


    <div></div>
    <br>
    <br>
    <br>
    <h2>signup option 2</h2>
    <p>
        <a class="button" routerLinkActive="active" routerLink="/signup">
            Signup
        </a>
    </p>
    
</body>
