
  
  .login-box{
    width: 35%;
    height: 50%;
    box-shadow: 2px 1px 4px 4px rgba(0.25, 0.25, 0.25, 0.25);
    margin: 50px 0px 50px 30%;
    padding: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Neue Plak UA", Helvetica,Arial,-apple-system,sans-serif;
    top:100px; 
  }

  .input-box{
    height:30px;
    width: 300px;
    text-align: center;
  }
  
  .login-button{
    background-color: black;
    color:white;
    font-size: 20px;
    padding: 10px 120px;
    font-family: "Neue Plak UA", Helvetica,Arial,-apple-system,sans-serif;
  }

  .login-button:hover{
    background-color: lightslategrey;
  }

   .layout{
    /* border: double; */
    background-size: auto;
    background-color: gray;
  }

  .signin-button{
    /* Apparently I don't have to style this */
  }

  .button{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
    
  }

  /* .grid-container{
    margin-top: 5em;
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
  } */