<app-navbar-menu></app-navbar-menu>
<app-navbar-login></app-navbar-login>

<head>
    <style></style>
    <title>Signup Title</title>
</head>
<div class="layout"></div>

<body>
    <br>
    <br>
    <br>
    <h2>Signup Heading</h2>
    <p>

        sample text goes here. Sample fields below for signup.

        <br>
        <input type="text"> First Name
        <br>
        <input type="text"> Last Name
        <br>
        <input type="text"> Email
        <br>
        <input type="text"> Phone
        <br>
        <input type="text"> Username
        <br>
        <input type="text"> Password
        <br>
        <button type="button">Enter</button>
        <!-- <input type="text" [(ngModel)]="newTodo">
    <button (click)="addTodo()">Add Todo to List</button> for later to connect to models-->


    <div></div>
    <br>
    <br>
    <br>
    <h2>Login option 2</h2>
    <p>
        <a class="button" routerLinkActive="active" routerLink="/login">
            Login
        </a>
    </p>

</body>