.btn{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
    
  }
  .btn2{
    background-color: rgb(147, 168, 205);
    color: rgb(21, 66, 84);
    padding: 6px 12px;
    text-decoration: none;
  }

  /* style="text-align:center/left/right;" */