
<div class="nav-bar">
 
    <!-- Organized the header and buttons into a div that can easily be styled and placed -->
    <!-- This nav bar is apart of the top of the page -->
    <Span> <header id="hyperion">Hyperion</header></Span>
    <a class="button"  routerLinkActive="active" routerLink="/login">
        Login
    </a>

    <a class="button2"  routerLinkActive="active" routerLink="/signup">
        Sign Up
    </a>

    <a class="button3" routerLinkActive="active" routerLink="/landing">
        Home
    </a>
 
</div>